<section class="single-tell row">
  <h2 class="small-9 columns"><a href="{{news[tellSingle].url}}">  {{news[tellSingle].title}}  </a></h2>
  <a class="small-2 columns" href="index.html#/"> <img src="http://3.bp.blogspot.com/-0-zj6B9Q2vY/UrsRo8-xBbI/AAAAAAAAAu0/4ted5wbZ32w/s1600/home+(2).png" alt=""  /></a>
  <img class="large-5 medium-4 columns " ng-src="{{news[tellSingle].multimedia[3].url}}" alt="{{news[tellSingle].title}}" />
  <div class="content large-7 medium-8 columns">
    <h3>{{news[tellSingle].section}}</h3>
    <p>{{news[tellSingle].created_date}}</p>
    <p>Abstract: {{news[tellSingle].abstract}}</p>
    <p>{{news[tellSingle].byline}}</p>
    <p><a href="index.html#/">Back to home</a></p>
  </div>
</section>
